extends layout

block content
  div(class='container')
    div(class="navbar navbar-inverse navbar-fixed-top", role="navigation")
      a(class="navbar-brand", href="/") Mongo eCommerce Admin
  
  div(class='row')
    div(class='col-md-2')
      h4 Options
      ul(class='nav nav-pills nav-stacked')
        li(class='nt') 
          a(href='/admin/category') Category
      ul(class='nav nav-pills nav-stacked')
        li(class='nt') 
          a(href='/admin/product') Product
      
    div(class='col-md-10')
      block right